<h1>Добрый день!</h1>
<p>Вы осваиваете иностранный язык с помощью сервиса Flashcards.</p>
<p>Пришло время повторить карточки, для этого перейдите по <%= link_to 'ссылке', @url %>.</p>
<p>Спасибо, что вы с нами и успехов в обучении!</p>
