<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Флэшкарточкер</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Home</a></li>
          <li><%= link_to "Все карточки", '#' %></li>
          <li><%= link_to "Добавить карточку", '#' %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</header>
